{% load static %}
<header class="fl-page-header fl-page-header-primary fl-page-nav-right fl-page-nav-toggle-icon fl-page-nav-toggle-visible-mobile" itemscope="itemscope" itemtype="https://schema.org/WPHeader"  role="banner">
	<div class="fl-page-header-wrap">
		<div class="fl-page-header-container container">
			<div class="fl-page-header-row row">
				<div class="col-sm-12 col-md-4 fl-page-header-logo-col">
					<div class="fl-page-header-logo logo-container" itemscope="itemscope" itemtype="" style="white-space: nowrap;">
						<a href="{% url 'accounts:home' %}" itemprop="url">
							<img class="fl-logo-img" loading="false" data-no-lazy="1"   itemscope itemtype="" src="{% static 'assets/img/logo.png' %}" data-retina="" title="" width="60" height="70" alt="" />
							<strong>MUSLIM ENDOWMENT FOUNDATION</strong>
							<meta itemprop="name" content="Muslim Endowment Foundation" />
						</a>
						
											</div>
				</div>
				
				<div class="col-sm-12 col-md-8 fl-page-nav-col">
					<div class="fl-page-nav-wrap">
						<nav class="fl-page-nav fl-nav navbar navbar-default navbar-expand-md" aria-label="Header Menu" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">
							<button type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target=".fl-page-nav-collapse">
								<span><i class="fas fa-bars" aria-hidden="true"></i><span class="sr-only">Menu</span></span>
							</button>
							<div class="fl-page-nav-collapse collapse navbar-collapse">
								<ul id="menu-mathcing-gifs" class="nav navbar-nav navbar-right menu fl-theme-menu"><li id="menu-item-28067" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28067 nav-item"><a href="{% url 'accounts:about' %}" class="nav-link">ABOUT</a><div class="fl-submenu-icon-wrap"><span class="fl-submenu-toggle-icon"></span></div>
<ul class="sub-menu">
	<li id="menu-item-28069" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28069 nav-item"><a href="" class="nav-link">Mission &#038; Vision</a></li>
	<li id="menu-item-28070" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28070 nav-item"><a href="" class="nav-link">History</a></li>
	<li id="menu-item-28072" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28072 nav-item"><a href="{% url 'accounts:board-members' %}" class="nav-link">Board of Directors</a></li>


	<li id="menu-item-28080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28080 nav-item"><a href="{% url 'accounts:sponsers' %}" class="nav-link">Sponsors</a></li>
	<li id="menu-item-28081" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28081 nav-item"><a href="" class="nav-link">Annual Report</a></li>
</ul>
</li>
<li id="menu-item-28349" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28349 nav-item"><a href="" class="nav-link">BLOG</a><div class="fl-submenu-icon-wrap"><span class="fl-submenu-toggle-icon"></span></div>

</li>
<li id="menu-item-28099" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-28099 nav-item"><a href="{% url 'accounts:media' %}" class="nav-link">MEDIA</a><div class="fl-submenu-icon-wrap"><span class="fl-submenu-toggle-icon"></span></div>

</li>


<li id="menu-item-59050" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59050 nav-item"><a href="{% url 'accounts:events' %}" class="nav-link">EVENTS</a></li>
<li id="menu-item-29063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29063 nav-item"><a href="{% url 'accounts:contacts' %}" class="nav-link">CONTACT</a></li>
<li id="menu-item-28653" class="ms-menu-star menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28653 nav-item"><a href="" class="nav-link">SUPPORT MEF</a><div class="fl-submenu-icon-wrap"><span class="fl-submenu-toggle-icon"></span></div>
<ul class="sub-menu">
	<li id="menu-item-28105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28105 nav-item"><a href="" class="nav-link">Donate Now</a></li>
	<li id="menu-item-67953" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-67953 nav-item"><a href="" class="nav-link">Matching Gifts</a></li>
	<li id="menu-item-28108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28108 nav-item"><a href="" class="nav-link">Create Your Own Scholarship</a><div class="fl-submenu-icon-wrap"><span class="fl-submenu-toggle-icon"></span></div>
	<ul class="sub-menu">
		<li id="menu-item-28110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28110 nav-item"><a href="" class="nav-link">Create Your Own Alumni Scholarship</a></li>
		<li id="menu-item-28107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28107 nav-item"><a href="" class="nav-link">Create Your Own Law Scholarship</a></li>
	</ul>
</li>
	<li id="menu-item-28106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28106 nav-item"><a href="" class="nav-link">Stock Donations</a></li>
	<li id="menu-item-28109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28109 nav-item"><a href="" class="nav-link">Endowment Fund</a></li>
	<li id="menu-item-28120" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28120 nav-item"><a href="" class="nav-link">Ways To Give</a></li>
</ul>
</li>
</ul><div class="fl-page-nav-search">
	<a href="#" class="fas fa-search" aria-label="Search" aria-expanded="false" aria-haspopup="true" id='flsearchform'></a>
	<form method="get" role="search" aria-label="Search" action="" title="Type and press Enter to search.">
		<input type="search" class="fl-search-input form-control" name="s" placeholder="Search" value="" aria-labelledby="flsearchform" />
	</form>
</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>